@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<EntityFramework.TodoItem>

@{
    ViewData["Title"] = "Completed todo";
}

<h3>Completed Todo</h3>
@foreach (var item in Model)
{
    <ul>
        <li><b>@Html.DisplayFor(modelItem => item.Text)</b></li>
        <li>@Html.DisplayFor(modelItem => item.DateCompleted)</li>
    </ul>
}
<a asp-area="" asp-controller="Todo" asp-action="Index">Back</a>
